h1{
    color: blue;
}

/**{
    border: solid;
}*/

.header{
    background-color: blueviolet;
    display: flex;
    justify-content: space-between;
}

.grid{
    display:flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}



